In [52]:
import pandas as pd
import pyarrow.parquet as pq

In [53]:
df = pq.read_table('../in/fhvhv_tripdata_2022-03.parquet')

In [54]:
df = df.to_pandas()

In [40]:
df = df.head(100000)

In [55]:
df.shape

(18453548, 24)

In [56]:
df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2022-03-01 00:31:18,2022-03-01 00:34:32,2022-03-01 00:35:04,2022-03-01 00:43:48,177,61,1.720,...,0.73,0.00,0.0,3.0,6.62,N,N,,N,N
1,HV0003,B03404,B03404,2022-03-01 00:25:25,2022-03-01 00:27:29,2022-03-01 00:28:42,2022-03-01 00:41:40,114,65,3.270,...,1.34,2.75,0.0,3.0,10.66,N,N,,N,N
2,HV0005,B03406,None,2022-03-01 00:08:50,NaT,2022-03-01 00:14:24,2022-03-01 00:24:46,209,144,1.433,...,1.48,2.75,0.0,0.0,14.69,N,N,N,N,N
3,HV0003,B03404,B03404,2022-03-01 00:01:47,2022-03-01 00:03:18,2022-03-01 00:04:35,2022-03-01 00:22:57,74,134,10.860,...,3.01,0.00,0.0,0.0,22.32,N,N,,N,N
4,HV0003,B03404,B03404,2022-03-01 00:31:55,2022-03-01 00:32:42,2022-03-01 00:33:16,2022-03-01 00:40:13,95,95,1.510,...,0.83,0.00,0.0,3.0,5.44,N,N,,N,N

Number of trips by service, Lyft and Uber

In [43]:
df.groupby("hvfhs_license_num")["hvfhs_license_num"].count()

hvfhs_license_num
HV0003    70156
HV0005    29844
Name: hvfhs_license_num, dtype: int64

In [18]:
df.dtypes

hvfhs_license_num               object
dispatching_base_num            object
originating_base_num            object
request_datetime        datetime64[ns]
on_scene_datetime       datetime64[ns]
pickup_datetime         datetime64[ns]
dropoff_datetime        datetime64[ns]
PULocationID                     int64
DOLocationID                     int64
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag             object
shared_match_flag               object
access_a_ride_flag              object
wav_request_flag                object
wav_match_flag                  object
dtype: object

In [57]:
trips = pd.DataFrame({"PULocationID": df["PULocationID"], "DOLocationID": df["DOLocationID"]})

In [58]:
trips.head()

   PULocationID  DOLocationID
0           177            61
1           114            65
2           209           144
3            74           134
4            95            95

In [59]:
trips.groupby("PULocationID")

In [60]:
trips.groupby("PULocationID").ngroups

263

In [66]:
trips.groupby("PULocationID").get_group(56)

          PULocationID  DOLocationID
231                 56           129
599                 56            14
672                 56           258
723                 56            56
793                 56           252
...                ...           ...
18447344            56           132
18448057            56           173
18449059            56           160
18450993            56           223
18452536            56            82

[49531 rows x 2 columns]

In [ ]:
pu_counts = trips.groupby("PULocationID")["PULocationID"].count()

In [ ]:
pu_counts

In [32]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine("postgresql://lukethomas@localhost:5432/mydb")

In [34]:
trips.to_sql("trips", con=engine)

1000